@use "variables" as *;

@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;600;700&display=swap');

.nofavs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
    text-align: center;
    h2 {
        font-family: 'Khand', Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 2.5rem;
        color: $orange;
        text-transform: uppercase;
        margin: 0;
    }

    h3 {
        font-family: 'Khand', Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 1.5rem;
        color: white;
        margin: 0;
    }

    p {
        font-family: 'Khand', Arial, Helvetica, sans-serif;
        color: white;
    }

    .nofavs-info {
        // margin: 5rem auto 0 -3.5rem;
        width: 200px;
        margin: 12rem auto 0 auto;
    }

    img {
        margin: -8rem auto 0 auto;
        width: 300px;
    }

}

.no-favs-bg {
    -webkit-mask-image:-webkit-gradient(linear, right top, left top, from(rgba(0,0,0,.35)), to(rgba(0,0,0,0)));
    position: fixed;
    object-fit:cover;
    right: 0;
    top: 0;
    bottom: 0;
    min-height: 100vh;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: .25;
    z-index: 1;
    pointer-events: none;

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
         }
    } 
}

@media (min-width: 850px){
    .nofavs {
        position: relative;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        margin: 3rem 0 0 0;
        // width: 80%;
        text-align: left;

        .nofavs-info {
            margin: 5.5rem auto 0 2rem;
        }

        img {
            margin-top: -10rem;
        }
    }


    .fav-example {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

}
