@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;600;700&display=swap');

h1 {
    font-weight: 400;
    text-transform: uppercase;
    color: #68E028;
    display: block;
    margin-left: 4rem;
    z-index: 8005;
}